.icon-marker,
.icon-marker-ccap {
    background-color: #1C6A8EEE;
    /* background: #1C6A8E; */
    border-radius: 50%;
    padding: 10px !important;
    /* border: solid 3px #444; */
    border: solid 3px #fff;
    /* background-image: url('../images/kids-bw.png'); */
    /* background-image: url('../images/icons8-kids-52.png'); */
    /* background-image: url('../images/boy.png'); */
    /* background-image: url('../images/abc-block.png'); */
    background-image: url('../images/alphabet_white.png');
    /* background-image: url('../images/abc.png'); */
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10000000 !important;
}

.icon-marker-ccap {
    background-color: rgba(233, 55, 55, 0.849);
}

.icon-marker-ccap.md,
.icon-marker.md {
    background-size: 35px 35px;
    padding: 0 !important;
    background-size: 25px 25px;
    background-image: none;
    border: solid 1px #fff;
}

.icon-marker-ccap.sm,
.icon-marker.sm {
    background-size: 20px 20px;
    padding: 0 !important;
    background-image: none;
    border: solid 1px #fff;
}