.icon-marker {
    background: #1C6A8EEE;
    /* background: #1C6A8E; */
    border-radius: 50%;
    padding: 10px !important;
    /* border: solid 3px #444; */
    border: solid 3px #fff;
    /* background-image: url('../images/kids-bw.png'); */
    /* background-image: url('../images/icons8-kids-52.png'); */
    /* background-image: url('../images/boy.png'); */
    /* background-image: url('../images/abc-block.png'); */
    background-image: url('../images/alphabet_white.png');
    /* background-image: url('../images/abc.png'); */
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10000000 !important;
}