.icon-marker {
    background: #1C6A8E99;
    border-radius: 50%;
    padding: 3px !important;
    border: solid 3px #444;
    /* background-image: url('./images/kids-bw.png'); */
    /* background-image: url('./images/icons8-kids-52.png'); */
    background-image: url('../images/boy.png');
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;
}