.popup h2,
.listing h2 {
    font-size: 1.2rem;
}

.marker-list-container {
    /* height: calc(100vh - 100px); */
    height: 100vh;
    overflow-y: auto;

}

.popup h2,
.popup p,
.listing h2,
.listing p {
    margin: 0;
}

.listing {
    padding: 10px 20px;
    border-top: solid 1px #CCC;
}