.listing {
    padding: 5px 5px 5px 10px;
    border-top: solid 1px #EEE;
    display: grid;
    grid-template-columns: auto 60px;
    align-items: center;
}

.listing.active {
    background-color: #1C6A8EEE
}

.listing.active h2 {
    color: white;
}

.listing h2 {
    font-size: 1.0rem;
    font-weight: normal;
    color: #676767;
}

.popup h2 {
    font-size: 1.0rem;
    margin: 0 0 5px 0;
}

.marker-list-container {
    height: 100vh;
    overflow-y: auto;
}

.listing .notes,
.listing .details {
    display: none;
}

.popup p,
.listing p {
    margin: 0 0 3px 0;
}

.listing h2 {
    margin: 0 0 3px 0;
}

.popup ul,
.listing ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style-type: none;
}

.popup li,
.listing li,
.popup p,
.listing p {
    color: #606060;
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.popup li,
.listing li {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    margin: 0 0 3px 0;
}

li svg {
    margin-top: 2px;
}

.listing button {
    background-color: transparent;
    border: solid 1px transparent;
    color: rgb(70, 93, 224);
    border-radius: 4px;
    padding: 5px 10px;
}

.listing button:hover {
    background-color: transparent;
    border-width: 1;
    color: rgb(70, 93, 224);
    border-color: rgb(70, 93, 224);
}

.listing.active button {
    color: white;
}

.listing.active button:hover {
    border-color: white;
}